# ===== Maven / Java build =====
target/
logs/
*.log

!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/*

*.class

*.jar
*.war
*.ear
*.nar

hs_err_pid*
replay_pid*

# ===== IDE / Editor =====
# IntelliJ IDEA
.idea/
*.iml
*.iws

# ===== Spring Tool Suite / Eclipse / VS Code / NetBeans =====
.project
.classpath
.settings/
.springBeans
.sts4-cache/
.factorypath

.vscode/

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ===== OS / system =====
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
